@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    font-family: 'Itim', sans-serif
}
p {
    text-decoration: underline;
}
nav {
    background-color: #6cb5b9;
}
nav > a {
    color: aqua;
    text-decoration: none;
    padding: 8px 12px;
    display: inline-table;
}