@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    font-family: 'Itim';
    background-color: #ff99a6;
    text-decoration: white;
    background-image: url(duotone\ \(2\).png);
    background-attachment:fixed;
    background-size: 100%;
    text-align: center;

}
p {
    text-decoration: underline;
}
nav {
    background-color: #10f89a;
    position: sticky;
    top: 0;
    text-align: center;
}
nav > a {
    color: #e0115f;
    text-decoration: none;
    padding: 8px 12px;
    display: inline-table;
}
nav > a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 480px) {
    
}
